body {
    background-color: #ef5350; /* Vermelho Pokedex */
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pokedex-card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    text-align: center;
    width: 300px;
}

input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 60%;
}

button {
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pokemon-display {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 10px;
    border: 2px solid #333;
}

img {
    width: 150px;
    height: 150px;
    object-fit: contain; /* Garante que a imagem não estique */
}

h2 {
    text-transform: capitalize; /* Deixa a primeira letra maiúscula */
    margin-top: 10px;
    color: #333;
}