body {
    background-color: #2c3e50;
    font-family: 'Helvetica Neue', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    background: white;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    text-align: center;
    width: 300px;
}

.img-container img {
    border-radius: 50%; /* Deixa a foto redonda */
    width: 150px;
    height: 150px;
    border: 5px solid #ecf0f1;
    margin-bottom: 20px;
}

h2 {
    margin: 10px 0;
    color: #34495e;
}

.info {
    color: #7f8c8d;
    margin: 5px 0;
    font-size: 0.9rem;
}

button {
    margin-top: 25px;
    padding: 12px 25px;
    background-color: #3498db;
    color: white;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.2s;
}

button:hover {
    background-color: #2980b9;
    transform: scale(1.05);
}